.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0 var(--space-8);
  min-height: 85vh;
}
.carousel-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: visible;
  display: flex;
  flex-direction: column;
  margin-top: var(--space-20);
  align-items: center;
}
.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-slide {
  transition: all 0.3s ease;
  margin: 0 12px;
}
.carousel-slide.active {
  width: 344px;
  height: 265px;
  z-index: 20;
}
.carousel-slide.inactive {
  width: 258px;
  height: 199px;
  opacity: 0.5;
}
.carousel-video {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-big);
}
.carousel-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 99;
  color: var(--secondary-color);
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}
.carousel-button:hover {
  color: white;
}
.carousel-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 344px;
  background-color: #01050c;
  border-radius: 20px;
  padding: 5px 5px 8px 5px;
}
.carousel-counter {
  font-size: 14px;
  color: var(--secondary-color);
}
@media (min-width: 900px) {
  .carousel-container {
    align-items: stretch;
    margin-top: var(--space-28);
  }
  .carousel-buttons {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    background: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
  }
  .carousel-button.left {
    left: -10px;
  }
  .carousel-button.right {
    right: -10px;
  }
  .carousel-counter {
    display: none;
  }
}
