.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0 var(--space-8);
  min-height: 95vh;
}

.mail {
  width: 541px;
  height: 345px;
  text-align: start;
  background-color: #01050c;
  border-radius: var(--border-radius-big);
  padding: 36px 44px;
}

.form-container {
  margin-top: var(--space-24);
  display: flex;
  gap: 20px;
}

.mail label {
  margin-bottom: 8px;
}

.mail input {
  font-family: var(--secondary-font);
  color: white;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.mail textarea {
  font-family: var(--secondary-font);
  color: white;
  width: 100%;
  height: 90px;
  margin-bottom: 20px;
}

.socials {
  height: 345px;
  background-color: #01050c;
  border-radius: var(--border-radius-big);
  padding: 36px 44px;
}

.socials h2 {
  color: white;
  padding-bottom: 2px;
  margin: 0;
  font-weight: normal;
}

.social-link-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

h3 {
  font-weight: 600;
  margin: 0;
  margin-bottom: 40px;
  font-size: 24px;
}

.social-link {
  display: flex;
  align-items: center;
}

.social-link .icon {
  margin-right: 10px;
}

.tabs {
  display: flex;
  margin-top: 24px;
  margin-bottom: 12px;
  background-color: #01050c;
  border-radius: 20px;
  padding: 4px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.tabs button {
  padding: 8px 16px;
  border: none;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  border-radius: 16px;
  transition: background-color 0.3s ease;
}

.tabs button.active {
  background-color: var(--tertiary-color);
  color: #ffffff;
}

@media (max-width: 767px) {
  a img {
    height: 12px;
  }

  .form-container {
    flex-direction: column;
    margin-top: 0;
  }

  .mail {
    width: 90vw;
  }

  .socials {
    width: 100%;
  }
}
