.licensing-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card-container {
  position: relative;
  width: 284px;
  height: 488px;
  padding-bottom: 36px;
}

.card {
  height: 100%;
  width: 100%;
  padding: var(--space-32);
  background-color: #01050c;
  border-radius: var(--border-radius-big);
  text-align: start;
  position: relative;
  z-index: 2;
}

.title {
  font-size: 1rem;
}

.price {
  margin: 27px 0 var(--space-32) 0;
  font-size: 2.75rem;
}

.feature-list {
  margin-top: 22px;
  overflow-y: auto;
  max-height: 200px;
}

.feature {
  display: flex;
  gap: 12px;
}

.feature p {
  margin: 10px 0;
}

.undercard {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56px;
  border-radius: 0 0 var(--border-radius-big) var(--border-radius-big);
  background-color: #0c0e14;
  display: flex;
  z-index: 1;
}

.undercard-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: var(--space-12);
  padding-top: 20px;
}

.deal {
  padding-bottom: 0.1rem;
}
