.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-out;
  text-align: start;
  line-height: 1.5;
}
.popup-content {
  background-color: var(--bg-color);
  border-radius: var(--border-radius-big);
  height: 80vh;
  width: 80vh;
  position: relative;
  animation: slideIn 0.3s ease-out;
  display: flex;
  flex-direction: column;
}
.popup-header {
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  padding: 10px 0 10px 20px;
  z-index: 1;
  border-top-left-radius: var(--border-radius-big);
  border-top-right-radius: var(--border-radius-big);
}
.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}
.license-text {
  color: white;
  padding: 0 20px 20px;
  overflow-y: auto;
  flex-grow: 1;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (max-width: 656px) {
  .popup-content {
    max-width: 95%;
    max-height: 70%;
  }

  .close-button {
    right: 0;
  }
}
