.licensing-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card-container {
  position: relative;
  width: 284px;
  height: 472px;
  margin-top: 15px;
}

.card-wrapper {
  position: relative;
  height: calc(100% - 36px);
  border-radius: var(--border-radius-big);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.card-container.highlighted .card-wrapper {
  background-image: var(--main-gradient);
  padding: 3px;
}

.card {
  height: 100%;
  width: 100%;
  padding: var(--space-32);
  background-color: #01050c;
  border-radius: calc(var(--border-radius-big) - 2px);
  text-align: start;
  position: relative;
  z-index: 2;
}

.card-container.highlighted::before {
  content: "POPULAR";
  position: absolute;
  top: -11px;
  left: 50%;
  transform: translateX(-50%);
  background-image: var(--main-gradient);
  color: white;
  padding: 5px 25px;
  border-radius: 15px;
  font-size: 12px;
  z-index: 10;
}

.card-container.highlighted button {
  background-image: var(--main-gradient);
}

.title {
  font-size: 1rem;
  padding-bottom: 4px;
}

.price {
  margin: 23px 0 var(--space-32) 0;
  font-size: 2.75rem;
}

.feature-list {
  margin-top: 22px;
  overflow-y: auto;
  max-height: 200px;
}

.feature {
  display: flex;
  gap: 12px;
}

.feature p {
  margin: 10px 0;
}

.undercard {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56px;
  border-radius: 0 0 var(--border-radius-big) var(--border-radius-big);
  background-color: #0c0e14;
  display: flex;
  z-index: 1;
}

.undercard-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: var(--space-12);
  padding-top: 20px;
}

.deal {
  padding-bottom: 0.1rem;
}
